<head>
    <title>Buyzy - Buy Easy</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css"/>
</head>
<body>
    <header id = "headernavbar">
      <div id="navbar">
        <nav>
          <ul>
            <li><img src="/static/LOGO.png" width="50" height="50"></li>
            <li><a href="https://traysbud9bab9usdbackend.totoeevee.repl.co/#l">Home</a></li>
            <li><a href="sell">Sell</a></li>
            <li><a href="listings">Listings</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <br>
    <br>
    <div id="title">
         Available Listings:
		<div id="searchbar">
        <form action= target="_self" >
            <input type="text" placeholder="Search for an item...">
        </form>
    </div>
    <br>
		<div id = "listing">
		<header id = 'Lobotomy'>
		<h2><a href = "https://traysbud9bab9usdbackend.totoeevee.repl.co/Lobotomy">Lobotomy</a></h2>
		<h3>$28932</h3>
		</header>
		</div>
		<br>
		<div id = "listing">
		<header id = 'Westview Alumni T-Shirts'>
		<h2><a href = "https://traysbud9bab9usdbackend.totoeevee.repl.co/Westview Alumni T-Shirts">Westview Alumni T-Shirts</a></h2>
		<h3>$15</h3>
		</header>
		</div>
		<br>
		<div id = "listing">
		<header id = 'Stoller Jaguar Fursuit'>
		<h2><a href = "https://traysbud9bab9usdbackend.totoeevee.repl.co/Stoller Jaguar Fursuit">Stoller Jaguar Fursuit</a></h2>
		<h3>$2398428</h3>
		</header>
		</div>
		<br>
		<div id = "listing">
		<header id = 'Neon Purple Wind Turbine'>
		<h2><a href = "https://traysbud9bab9usdbackend.totoeevee.repl.co/Neon Purple Wind Turbine">Neon Purple Wind Turbine</a></h2>
		<h3>$239</h3>
		</header>
		</div>
		<br>
		<div id = "listing">
		<header id = 'Among Us Plushie'>
		<h2><a href = "https://traysbud9bab9usdbackend.totoeevee.repl.co/Among Us Plushie">Among Us Plushie</a></h2>
		<h3>$15</h3>
		</header>
		</div>
		<br>
		<div id = "listing">
		<header id = 'Shrek Crocs'>
		<h2><a href = "https://traysbud9bab9usdbackend.totoeevee.repl.co/Shrek Crocs">Shrek Crocs</a></h2>
		<h3>$12</h3>
		</header>
		</div>
		<br>
		<div id = "listing">
		<header id = 'Popcorn'>
		<h2><a href = "https://traysbud9bab9usdbackend.totoeevee.repl.co/Popcorn">Popcorn</a></h2>
		<h3>$10</h3>
		</header>
		</div>
		<br>
		<div id = "listing">
		<header id = 'bottle of half drunk water'>
		<h2><a href = "https://traysbud9bab9usdbackend.totoeevee.repl.co/bottle of half drunk water">bottle of half drunk water</a></h2>
		<h3>$21</h3>
		</header>
		</div>
		<br>
		<div id = "listing">
		<header id = 'crack'>
		<h2><a href = "https://traysbud9bab9usdbackend.totoeevee.repl.co/crack">crack</a></h2>
		<h3>$2324567654</h3>
		</header>
		</div>
		<br>
		<div id = "listing">
		<header id = 'a giant turtle named ernie who's on death's door'>
		<h2><a href = "https://traysbud9bab9usdbackend.totoeevee.repl.co/a giant turtle named ernie who's on death's door">a giant turtle named ernie who's on death's door</a></h2>
		<h3>$0.00</h3>
		</header>
		</div>
		<br>
		<div id = "listing">
		<header id = 'a sugar high'>
		<h2><a href = "https://traysbud9bab9usdbackend.totoeevee.repl.co/a sugar high">a sugar high</a></h2>
		<h3>$2</h3>
		</header>
		</div>
		<br>
		<div id = "listing">
		<header id = 'desantis' election bid'>
		<h2><a href = "https://traysbud9bab9usdbackend.totoeevee.repl.co/desantis' election bid">desantis' election bid</a></h2>
		<h3>$1</h3>
		</header>
		</div>
		<br>