
			<html>
			<head>
				<title>Buyzy - Buy Easy</title>
				<link rel="stylesheet" type="text/css"            href="/static/styles.css"/>
			</head>    
			<body>
				<header>
      <div id="navbar">
        <nav>
          <ul>
            <li><img src="/static/LOGO.png" width="50" height="50"></li>
            <li><a href="https://traysbud9bab9usdbackend.totoeevee.repl.co/#">Home</a></li>
            <li><a href="sell">Sell</a></li>
            <li><a href="listings">Listings</a></li>
          </ul>
        </nav>
      </div>
    </header>
      <br>
			<h1><center><b>shrek candle</b></center></h1>
			<h1>Price: $ 15</h1>
			<h2></h2>
			<h3>To buy contact:universal@studios.com</h3>
			</body>
			</html>
			